*{
  margin: 0px;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

#preview img{
  max-width: 20rem;
  max-height: 30rem;
}

section:not(#preview){
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  height: 40px;
  background-image: url(./imgs/jeju/jeju33.jpeg);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding:0px 10px;
  position: sticky;
  top: 0px;



  z-index: 100;
}

header > h1 {
  color: white;
  font-size: 20px;
}

#preview{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
}

/* 좌,우 이동버튼 */
#preview-go-left,#preview-go-right{
  position: absolute;
  font-size: 40px;
  font-weight: 800;
  cursor: pointer;
  color:hotpink;
  border: none;
  background-color: transparent;
}
#preview-go-left{
  left: 2rem;
}

#preview-go-right{
  right: 2rem;
}


#preview-imgs{
  width: 100%;
  display: flex;
  gap: 5px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 50px;
}



/*스크롤바 커스텀*/

#preview::-webkit-scrollbar {
  height: 25px;
}

/*  막대기 */
#preview::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-image: url(./imgs/jeju/jeju33.jpeg);
  background-clip: padding-box; /*스크롤에 여백넣기 -> background에 테두리영역 제외하여 표현*/
  border: 5px solid transparent;
}

/* 백그라운드 */
#preview::-webkit-scrollbar-track {
  background: #e7f5fd;
  background-size: cover;
}

/*스크롤바 커스텀 끝*/

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}


nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin: 30px;
  padding-bottom: 100px;
  list-style: none;
  padding-left: 0;
}



a{
  text-decoration: none;
}

nav a:hover{
  color:deeppink;
  text-decoration: underline;
}

/* paris (sec1) */
#paris{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 8rem;
}

.paris-img-container{
  position: relative;
  width: 15rem;
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px gray;
  transition: 0.5s; /*변화가 있을 때 시간차 주기*/
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.paris-img-container img{
  width: 100%;
}

.paris-img-container:hover{
  transform: translateY(-5px); /*위로 5px이동*/
}

.paris-description-container{
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3rem;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  font-weight: 500;
  color: #e7f5fd;
}

.paris-title{
  font-size: 20px;
  font-weight: 800;
}

.paris-content{ /*3줄 이상 말줄임표*/
  text-overflow:ellipsis;
  overflow:hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 25px;
}

.read-more-btn{
  width: 5rem;
  height: 3rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* summercamp */
#summercamp{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  gap: 1rem;
  flex-wrap: wrap;

  padding: 12rem;
  margin-top: 100px;
}
.summercamp-img{
  object-fit: cover;
  transition: 0.5s; /* 변화가 있을 때 시간차 주기*/
  flex-grow: 1;
}

.summercamp-img:hover{ 
  transform: translateY(-5px); /*위로 5px이동*/
}

#summercamp-leftSec{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  width: 31rem;
  height: 31rem;
}

#summercamp >div:nth-child(1) img{
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

#summercamp-rightSec{ 
  width: 31rem;
  height: 31rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  flex-grow: 1;
}

#summercamp div:nth-child(2) img{
  width: 15rem;
  height: 15rem;
  flex-grow: 1;
  object-fit: cover;
}



/* jeju */
#jeju-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#jeju{
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-template-rows: repeat(3,15rem);
  gap: 10px;
  
}

#jeju img{
  object-fit:cover;
  width: 100%;
  height: 100%;

}

  /*grid-column-start: start값;
  grid-column-end: end값; 
  ->
  grid-column : (start 값) / (end 값 )
  grid-row : (start 값) / (end 값) */

#jeju img:nth-child(1){
  grid-column: 1/3;

}

#jeju img:nth-child(2){
  grid-column: 3/-1;
  grid-row: 1/3;
}
#jeju img:nth-child(3){
  grid-column: 1/3;
}
#jeju img:nth-child(4){
  grid-column: 1/4;
  grid-row: 3/-1;
}
#jeju img:nth-child(5){
  grid-column: 4/-1;
  grid-row: 3/-1;
}

/* footer */
footer{
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./imgs/jeju/jeju1.JPG); 
  
  color: white;
  font-size: 20px;
  font-weight: 500;
}
#top{
  position:fixed;
  bottom: 50px;
  right: 80px;
  font-size: 30px;
}
